<h1><%=@blogger.name%></h1>
<h2><%=@blogger.bio%></h2>
<h3>Age: <%=@blogger.age%></h3>

<p>Total likes: <%=@blogger.total_likes%></p>
<p>Top 5 most written about destinations:</p>
<ul>
    <%@blogger.most_written.each do |d|%>
        <li><%=link_to d.name, destination_path(d)%></li>
    <%end%>
</ul>


<% if !@blogger.featured_post.nil? %>
    <p>Featured post: <%=link_to @blogger.featured_post.title, post_path(@blogger.featured_post)%></p>
<%end%>